[Unit]
Description=NanoM Service
After=network.target

[Service]
User=root
WorkingDirectory=/opt/nanom
ExecStart=/opt/nanol/nanom
Restart=always

[Install]
WantedBy=multi-user.target